@{
    ViewData["Title"] = "Add Record";
}

@model Burial

<h2 class="text-center text-brass-dark font-weight-bold">Create New Burial Record</h2>

@using (Html.BeginForm("AddRecord", "Burial", FormMethod.Post, new { id = "NewBurialForm" }))
{
<div class="form-top-holder">
    <div class="">
        <label for="date-found" class="text-ebony">Date:</label>
        <input asp-for="DateFound" class="form-control" required/>
    </div>
    <div class="">
        <label for="exca-recorder" class="text-ebony">Excavation Recorder:</label>
        <input asp-for="ExcavationRecorder" class="form-control" type="text" required />
    </div>
</div>
<div class="form-main text-ebony">
    <div class="form-location form-child">
        <span class="form-section-header">Location</span>
        <span>Square:</span><br />
        <div class="subsection-indent">
            <label>North</label>
            @Html.RadioButtonFor(m => m.Location.LocationNs, 'N', new { @class = "form-radio", @required="required" })
            <label>South</label>
            @Html.RadioButtonFor(m => m.Location.LocationNs, 'S', new { @class = "form-radio", @required = "required" })

            <br />

            <label>High/Low Pair:</label>
            <input asp-for="Location.HighPairNs" class="form-control form-control-sm form-short" required />/<input asp-for="Location.LowPairNs" class="form-control form-control-sm form-short" required />
            <br />

            <label>East</label>
            @Html.RadioButtonFor(m => m.Location.LocationEw, 'E', new { @class = "form-radio", @required = "required" })
            <label>West</label>
            @Html.RadioButtonFor(m => m.Location.LocationEw, 'W', new { @class = "form-radio", @required = "required" })
            <br />

            <label>High/Low Pair:</label>
            <input asp-for="Location.HighPairEw" class="form-control form-control-sm form-short" required />/<input asp-for="Location.LowPairEw" class="form-control form-control-sm form-short" required />
            <br />
        </div>
        <span>Area: </span>
        <label>NW</label>
        @Html.RadioButtonFor(m => m.Location.BurialSubplot, "NW", new { @class = "form-radio", @required = "required" })
        <label>NE</label>
        @Html.RadioButtonFor(m => m.Location.BurialSubplot, "NE", new { @class = "form-radio", @required = "required" })
        <label>SW</label>
        @Html.RadioButtonFor(m => m.Location.BurialSubplot, "SW", new { @class = "form-radio", @required = "required" })
        <label>SE</label>
        @Html.RadioButtonFor(m => m.Location.BurialSubplot, "SE", new { @class = "form-radio", @required = "required" })
        <br />
        <label>Burial #: </label>
        <input asp-for="BurialNumber" class="form-control form-control-sm form-short" required /><br />
    </div>

    <div class="shafts-clusters form-child">
        <span class="form-section-header">Shafts / Clusters</span>

        <label>Shaft Number:</label>
        <input asp-for="Shaft" class="form-control form-control-sm form-short" /><br />
        <label>Shared Shaft:</label>
        <label>Y</label>
        @Html.RadioButtonFor(m => m.SharedShaft, "Y", new { @class = "form-radio", @onchange = "ShowOrHideShafts('Y')", @required = "required" })
        <label>N</label>
        @Html.RadioButtonFor(m => m.SharedShaft, "N", new { @class = "form-radio", @onchange = "ShowOrHideShafts('N')", @required = "required" })
        <label>P</label>
        @Html.RadioButtonFor(m => m.SharedShaft, "P", new { @class = "form-radio", @onchange = "ShowOrHideShafts('P')", @required = "required" })
        <br />
        <div id="shaft_nums" style="display:none;">
            <label>Shared Shaft Numbers:</label>
            <input asp-for="SharedShaft" class="form-control form-control-sm form-medium" />
        </div>

        <label>Cluster:</label>
        <label>Y</label>
        @Html.RadioButtonFor(m => m.Cluster, "Y", new { @class = "form-radio", @onchange = "ShowOrHideClusters('Y')", @required = "required" })
        <label>N</label>
        @Html.RadioButtonFor(m => m.Cluster, "N", new { @class = "form-radio", @onchange = "ShowOrHideClusters('N')", @required = "required" })
        <br />
        <div id="cluster_data" style="display:none;">
            <label>Other Burial Numbers For Cluster:</label><br />
            <input type="text" class="form-control form-control-sm form-medium"/>
            <br />
            <div class="form-cluster-outer" style="display:flex; flex-direction:row; justify-content:space-between;">
                <label>Cluster Number:</label>
                <div class="form-cluster-inner">
                    <label>I</label>
                    @Html.RadioButtonFor(m => m.ClusterNumber, "1", new { @class = "form-radio", @id="radio1" })
                    <label>II</label>
                    @Html.RadioButtonFor(m => m.ClusterNumber, "2", new { @class = "form-radio", @id = "radio2" })
                    <label>III</label>
                    @Html.RadioButtonFor(m => m.ClusterNumber, "3", new { @class = "form-radio", @id = "radio3" })
                    <br />
                    <label>IV</label>
                    @Html.RadioButtonFor(m => m.ClusterNumber, "4", new { @class = "form-radio", @id = "radio4" })
                    <label>V</label>
                    @Html.RadioButtonFor(m => m.ClusterNumber, "5", new { @class = "form-radio", @id = "radio5" })
                </div>
            </div>
        </div>


    </div>

    <div class="form-burial-specs form-child">
        <span class="form-section-header">Burial Specifications</span>
        <table class="w-100">
            <tr>
                <td><label>Head Direction: </label></td>
                <td class="text-right"><input asp-for="HeadDirection" id="head-direction" class="form-control form-control-sm form-short" pattern="[a-zA-Z]*" required /><span style="font-size:10pt;">Please enter letters only</span></td>
                <td></td>
            </tr>
            <tr>
                <td><label>Burial Depth: </label></td>
                <td class="text-right"><input asp-for="BurialDepth" class="form-control form-control-sm form-short" required /></td>
                <td>m</td>
            </tr>
            <tr>
                <td><label>South to Head: </label></td>
                <td class="text-right"><input asp-for="SouthToHead" class="form-control form-control-sm form-short" required /></td>
                <td>m</td>
            </tr>
            <tr>
                <td><label>South to Feet: </label></td>
                <td class="text-right"><input asp-for="SouthToFeet" class="form-control form-control-sm form-short" required /></td>
                <td>m</td>
            </tr>
            <tr>
                <td><label>West to Head: </label></td>
                <td class="text-right"><input asp-for="WestToHead" class="form-control form-control-sm form-short" required /></td>
                <td>m</td>
            </tr>
            <tr>
                <td><label>West to Feet: </label></td>
                <td class="text-right"><input asp-for="WestToFeet" class="form-control form-control-sm form-short" required /></td>
                <td>m</td>
            </tr>
            <tr>
                <td><label>Measured Length: </label></td>
                <td class="text-right"><input asp-for="LengthOfRemains" class="form-control form-control-sm form-short" required /></td>
                <td>m</td>
            </tr>
            <tr>
                <td><label>Calculated Length: </label></td>
                <td class="text-right"><input type="text" name="calculated-length" class="form-control form-control-sm form-short" disabled /></td>
                <td>m</td>
            </tr>
        </table>
    </div>
    
</div>
<hr class="form-divide" />
<div class="form-main-2 text-ebony">
    <div class="form-overall-imp form-child">
        <span class="form-section-header">Preservation Details</span>
        <span>Preservation Index:</span>
        <div class="subsection-indent">
            <table style="width:100%">
                <tr>
                    <td><label>I - only bones</label></td>
                    <td>@Html.RadioButtonFor(m => m.PreservationIndex, "I", new { @class = "form-radio", @required = "required" })</td>
                </tr>
                <tr>
                    <td><label>II - 5-25%</label></td>
                <td>@Html.RadioButtonFor(m => m.PreservationIndex, "II", new { @class = "form-radio", @required = "required" })</td>
                </tr>
                <tr>
                    <td><label>III - 25-50%</label></td>
                    <td>@Html.RadioButtonFor(m => m.PreservationIndex, "III", new { @class = "form-radio", @required = "required" })</td>
                </tr>
                <tr>
                    <td><label>IV - 50-75%</label></td>
                    <td>@Html.RadioButtonFor(m => m.PreservationIndex, "IV", new { @class = "form-radio", @required = "required" })</td>
                </tr>
                <tr>
                    <td><label>V - 75-100%</label></td>
                    <td>@Html.RadioButtonFor(m => m.PreservationIndex, "V", new { @class = "form-radio", @required = "required" })</td>
                </tr>
            </table>
        </div>
        
    </div>
    <div class="form-burial-observe form-child">
        <span class="form-section-header">Burial Observations</span>
        <span>Hair Present: </span>
        <label>Y</label>
        @Html.RadioButtonFor(m => m.HairColor, "Y", new { @class = "form-radio", @required = "required" })
        <label>N</label>
        @Html.RadioButtonFor(m => m.HairColor, "N", new { @class = "form-radio", @required = "required" })
        <label>P</label>
        @Html.RadioButtonFor(m => m.HairColor, "P", new { @class = "form-radio", @required = "required" })<br />

        <span>Age: </span>
        <label>A</label>
        @Html.RadioButtonFor(m => m.AgeCode, "A", new { @class = "form-radio", @required = "required" })
        <label>C</label>
        @Html.RadioButtonFor(m => m.AgeCode, "C", new { @class = "form-radio", @required = "required" })
        <label>N/I</label>
        @Html.RadioButtonFor(m => m.AgeCode, "N/I", new { @class = "form-radio", @required = "required" })<br />

        <span>Burial Goods: </span>
        <label>Yes</label>
        @Html.RadioButtonFor(m => m.Goods, "Yes", new { @class = "form-radio", @required = "required" })
        <label>No</label>
        @Html.RadioButtonFor(m => m.Goods, "No", new { @class = "form-radio", @required = "required" })<br />

        <span>Burial Materials: </span>
        <label>Yes</label>
        @Html.RadioButtonFor(m => m.BurialMaterials, "Yes", new { @class = "form-radio", @required = "required" })
        <label>No</label>
        @Html.RadioButtonFor(m => m.BurialMaterials, "No", new { @class = "form-radio", @required = "required" })
        <br />

        <span>Photo: </span>
        <label>Yes</label>
        @Html.RadioButtonFor(m => m.Photo, "Yes", new { @class = "form-radio", @required = "required" })
        <label>No</label>
        @Html.RadioButtonFor(m => m.Photo, "No", new { @class = "form-radio", @required = "required" })
        <br />
    </div>
</div>
<div class="form-main-3">
    <div class="form-burial-notes">
        <span class="font-weight-bold">Burial Observation Notes:</span><br />
        <textarea asp-for="Notes"class="form-control form-textarea"></textarea>
    </div>
</div>
<hr class="form-divide" />
<br />
<div class="form-bottom">
    <div asp-validation-summary="All"></div>
    <input type="submit" class="btn btn-blackolive mx-auto" name="submitBurialForm" value="Save Record" />
</div>
<br />

}