@{
    ViewData["Title"] = "Burial Records Summary";
}

@model BurialViewModel

<h2 class="text-center">Burial Records List</h2>
<br />
<div class="item-holder">
    <div id="filter-main" class="filter-main filter-main-collapsed filter-bkg p-2">
        <span class="filter-header">Select Filter:</span>
        <form asp-action="BurialRecords" method="post" id="filterForm">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <label name="gender-filter">Gender</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="Male" name="gender-filter" value="Male" />
                            <label class="form-check-label" for="Male">Male</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="Female" name="gender-filter" value="Female" />
                            <label class="form-check-label" for="Female">Female</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="Subadult" name="gender-filter" value="Subadult" />
                            <label class="form-check-label" for="Subadult">Subadult</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="undetermined" name="gender-filter" value="Undetermined" />
                            <label class="form-check-label" for="undetermined">Undetermined</label>
                        </div>
                    </div>
                    <div class="col">
                        <label>Hair Color</label>
                        <br />
                        <div class="dropdown">
                            <select class="btn btn-ebony dropdown-toggle" name="hair-filter">
                                <div class="dropdown-menu">
                                    <option class="dropdown-item" value="">Select One</option>
                                    <option class="dropdown-item" value="blonde">Blonde</option>
                                    <option class="dropdown-item" value="black">Black</option>
                                    <option class="dropdown-item" value="brown">Brown</option>
                                    <option class="dropdown-item" value="red">Red</option>
                                </div>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label>Age</label>
                        <br />
                        <div class="dropdown">
                            <select class="btn btn-ebony dropdown-toggle" name="age-filter">
                                <div class="dropdown-menu">
                                    <option class="dropdown-item" value="">Select One</option>
                                    <option class="dropdown-item" value="C">Child</option>
                                    <option class="dropdown-item" value="A">Adult</option>
                                    <option class="dropdown-item" value="U">Undefined</option>
                                    @*<option class="dropdown-item" value="">Select One</option>
                                    <option class="dropdown-item" value="0-10">0-10</option>
                                    <option class="dropdown-item" value="11-20">11-20</option>
                                    <option class="dropdown-item" value="21-30">21-30</option>
                                    <option class="dropdown-item" value="31-40">31-40</option>
                                    <option class="dropdown-item" value="41-50">41-50</option>
                                    <option class="dropdown-item" value="51-60">51-60</option>
                                    <option class="dropdown-item" value="61-70">61-70</option>*@
                                </div>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label>Height (m)</label>
                        <div class="dropdown">
                            <select class="btn btn-ebony dropdown-toggle" name="height-filter">
                                <div class="dropdown-menu">
                                    <option class="dropdown-item" value="">Select One</option>
                                    <option class="dropdown-item" value="0-.5">0 - 0.5 (0-59 cm)</option>
                                    <option class="dropdown-item" value=".6-1">0.6 - 1.0 (60-109 cm)</option>
                                    <option class="dropdown-item" value="1.1-1.5">1.1 - 1.5 (110-159 cm)</option>
                                    <option class="dropdown-item" value="1.6-2">1.6 - 2.0 (160-209 cm)</option>
                                    <option class="dropdown-item" value="2.1-2.5">2.1 - 2.5 (210-259 cm)</option>
                                    <option class="dropdown-item" value="2.6-3">2.6 - 3.0 (260-300 cm)</option>
                                </div>
                            </select>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="filter-middle-row" id="middlerow" style="display:none;">
                    <div class="filter-middle-top">
                        <div>
                            <label>Burial Depth (m)</label>
                            <div class="dropdown">
                                <select class="btn btn-ebony dropdown-toggle" name="burial-depth-filter">
                                    <div class="dropdown-menu">
                                        <option class="dropdown-item" value="">Select One</option>
                                        <option class="dropdown-item" value="0-.5">0 - 0.5 (0-59 cm)</option>
                                        <option class="dropdown-item" value=".6-1">0.6 - 1.0 (60-109 cm)</option>
                                        <option class="dropdown-item" value="1.1-1.5">1.1 - 1.5 (110-159 cm)</option>
                                        <option class="dropdown-item" value="1.6-2">1.6 - 2.0 (160-209 cm)</option>
                                        <option class="dropdown-item" value="2.1-2.5">2.1 - 2.5 (210-259 cm)</option>
                                        <option class="dropdown-item" value="2.6-3">2.6 - 3.0 (260-309 cm)</option>
                                        <option class="dropdown-item" value="3.1-3.5">3.1 - 3.5 (310-359 cm)</option>
                                        <option class="dropdown-item" value="3.6-4">3.6 - 4.0 (360-400 cm)</option>
                                    </div>
                                </select>
                            </div>
                        </div>
                        <div class="">
                            <label>Length of Remains (m)</label>
                            <div class="dropdown">
                                <select class="btn btn-ebony dropdown-toggle" name="remain-length-filter">
                                    <div class="dropdown-menu">
                                        <option class="dropdown-item" value="">Select One</option>
                                        <option class="dropdown-item" value="0-1">0 - 1 (0- 100 cm)</option>
                                        <option class="dropdown-item" value="1-2">1 - 2 (101-200 cm)</option>
                                        <option class="dropdown-item" value="2-3">2 - 3 (201-300 cm)</option>
                                        <option class="dropdown-item" value="3-4">3 - 4 (301-400 cm)</option>
                                        <option class="dropdown-item" value="4-5">4 - 5 (401-500 cm)</option>
                                        <option class="dropdown-item" value="5-6">5 - 6 (501-600 cm)</option>
                                        <option class="dropdown-item" value="6-7">6 - 7(601-700 cm)</option>
                                        <option class="dropdown-item" value="7-8">7 - 8 (701-800 cm)</option>
                                        <option class="dropdown-item" value="8-9">8 - 9 (801-900 cm)</option>
                                        <option class="dropdown-item" value="9-10">9 - 10 (901-1000 cm)</option>
                                    </div>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <label>Date Found- Year</label>
                        <div class="dropdown">
                            <select class="btn btn-ebony dropdown-toggle" name="date-found-year-filter">
                                <div class="dropdown-menu"></div>
                                <option class="dropdown-item" value=0>Select Year</option>
                                <option class="dropdown-item" value=1987>1987</option>
                                <option class="dropdown-item" value=1992>1992</option>
                                <option class="dropdown-item" value=1994>1994</option>
                                <option class="dropdown-item" value=1997>1997</option>
                                <option class="dropdown-item" value=1998>1998</option>
                                <option class="dropdown-item" value=2000>2000</option>
                                <option class="dropdown-item" value=2002>2002</option>
                                <option class="dropdown-item" value=2003>2003</option>
                                <option class="dropdown-item" value=2005>2005</option>
                                <option class="dropdown-item" value=2007>2007</option>
                                <option class="dropdown-item" value=2009>2009</option>
                                <option class="dropdown-item" value=2010>2010</option>
                                <option class="dropdown-item" value=2013>2013</option>
                            </select>
                        </div>
                        <br />
                        <label>Date Found- Month</label>
                        <div class="dropdown">
                            <select class="btn btn-ebony dropdown-toggle" name="date-found-month-filter">
                                <div class="dropdown-menu">
                                    <option class="dropdown-item" value=0>Select Year</option>
                                    <option class="dropdown-item" value=01>Jan</option>
                                    <option class="dropdown-item" value=02>Feb</option>
                                    <option class="dropdown-item" value=03>Mar</option>
                                    <option class="dropdown-item" value=04>Apr</option>
                                    <option class="dropdown-item" value=05>May</option>
                                    <option class="dropdown-item" value=06>Jun</option>
                                    <option class="dropdown-item" value=07>Jul</option>
                                    <option class="dropdown-item" value=08>Aug</option>
                                    <option class="dropdown-item" value=09>Sep</option>
                                    <option class="dropdown-item" value=10>Oct</option>
                                    <option class="dropdown-item" value=11>Nov</option>
                                    <option class="dropdown-item" value=12>Dec</option>
                                </div>
                            </select>
                        </div>
                    </div>
                    <div class="">
                        <label name="item-found-filter">Item Found</label>
                        <div class="form-check">
                            <div class="form-check-inline">
                                <input class="form-check-input" type="checkbox" id="dice" value="dice" name="item-found-filter" />
                                <label class="form-check-label" for="dice">Dice</label>
                            </div>
                            <div class="form-check-inline">
                                <input class="form-check-input" type="checkbox" id="hairpin" value="hairpin" name="item-found-filter" />
                                <label class="form-check-label" for="hairpin">Hairpin</label>
                            </div>
                        </div>
                        <div class="form-check">
                            <div class="form-check-inline">
                                <input class="form-check-input" type="checkbox" id="bronze" value="bronze" name="item-found-filter" />
                                <label class="form-check-label" for="bronze">Bronze</label>
                            </div>
                            <div class="form-check-inline">
                                <input class="form-check-input" type="checkbox" id="necklace" value="necklace" name="item-found-filter" />
                                <label class="form-check-label" for="necklace">Necklace</label>
                            </div>
                        </div>
                        <div class="form-check">
                            <div class="form-check-inline">
                                <input class="form-check-input" type="checkbox" id="bead" value="bead" name="item-found-filter" />
                                <label class="form-check-label" for="bead">Beads</label>
                            </div>
                            <div class="form-check-inline">
                                <input class="form-check-input" type="checkbox" id="bracelet" value="bracelet" name="item-found-filter" />
                                <label class="form-check-label" for="bracelet">Bracelet</label>
                            </div>
                        </div>
                        <div class="form-check">
                            <div class="form-check-inline">
                                <input class="form-check-input" type="checkbox" id="wood" value="wood" name="item-found-filter" />
                                <label class="form-check-label" for="wood">Wood</label>
                            </div>
                            <div class="form-check-inline">
                                <input class="form-check-input" type="checkbox" id="pottery" value="pottery" name="item-found-filter" />
                                <label class="form-check-label" for="pottery">Pottery</label>
                            </div>
                        </div>
                    </div>

                </div>
                <hr />
                <div class="filter-last-row" id="lastrow" style="display:none;">

                    <div class="last-row-child">
                        <div>
                            <label name="textile-taken-filter">Textile Taken</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="takenTrue" name="textile-taken-filter" value=true />
                                <label class="form-check-label" for="takenTrue">Yes</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="takenFalse" name="textile-taken-filter" value=false />
                                <label class="form-check-label" for="takenFalse">No</label>
                            </div>
                        </div>
                        <div class="">
                            <label>Time of Burial</label>
                            <div class="dropdown">
                                <select class="btn btn-ebony dropdown-toggle" name="burial-time-filter">
                                    <div class="dropdown-menu">
                                        <option class="dropdown-item" value="">Select One</option>
                                        <option class="dropdown-item" value="850-450">850 B.C. - 450 B.C.</option>
                                        <option class="dropdown-item" value="449-200">449 B.C. - 200 B.C.</option>
                                        <option class="dropdown-item" value="199-0">199 B.C. - 0 A.D.</option>
                                        <option class="dropdown-item" value="1-200">1 A.D. - 200 A.D.</option>
                                        <option class="dropdown-item" value="201-450">201 A.D. - 450 A.D.</option>
                                        <option class="dropdown-item" value="451-850">451 A.D. - 850 A.D.</option>
                                    </div>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="last-row-child">
                        <span>Square</span><br />
                        <label>North</label>
                        <input class="form-radio" name="NS-square-filter" type="radio" value="N" />
                        <label>South</label>
                        <input class="form-radio" name="NS-square-filter" type="radio" value="S" />
                        <br />
                        <div class="filter-high-low">
                            <label>High/Low Pair:</label>
                            <div><input name="high-pair-NS-filter" type="text" class="form-control form-control-sm form-ex-short" style="background-color:var(--ebony); color:white;" />/<input name="low-pair-NS-filter" type="text" class="form-control form-control-sm form-ex-short" style="background-color:var(--ebony); color:white;" /></div>
                        </div>
                        <label>East</label>
                        <input class="form-radio" name="EW-square-filter" type="radio" value="E" />
                        <label>West</label>
                        <input class="form-radio" name="EW-square-filter" type="radio" value="W" />
                        <br />
                        <div class="filter-high-low">
                            <label>High/Low Pair:</label>
                            <div><input name="high-pair-EW-filter" type="text" class="form-control form-control-sm form-ex-short" style="background-color:var(--ebony); color:white;" />/<input name="low-pair-EW-filter" type="text" class="form-control form-control-sm form-ex-short" style="background-color:var(--ebony); color:white;" /></div>
                        </div>
                    </div>

                    <div class="last-row-child">
                        <span>Area </span>
                        <div class="d-flex flex-row flex-wrap">
                            <div>
                                <label for="area-filter">NW</label>
                                <input type="radio" name="area-filter" class="form-radio" value="NW" />
                            </div>
                            <div>
                                <label for="area-filter">NE</label>
                                <input type="radio" name="area-filter" class="form-radio" value="NE" />
                            </div>
                            <div>
                                <label for="area-filter">SW</label>
                                <input type="radio" name="area-filter" class="form-radio" value="SW" />
                            </div>
                            <div>
                                <label for="area-filter">SE</label>
                                <input type="radio" name="area-filter" class="form-radio" value="SE" />
                            </div>
                        </div>
                        <label name="head-dir-filter">Head Direction</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="head-dir-filter" id="East" value="East" />
                            <label class="form-check-label" for="East">East</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="head-dir-filter" id="West" value="West" />
                            <label class="form-check-label" for="West">West</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="head-dir-filter" id="Undefined" value="Undefined" />
                            <label class="form-check-label" for="Undefined">Undefined</label>
                        </div>
                    </div>


                </div>
            </div>
            <div class="filter-buttons">
                <button type="submit" class="btn btn-blackolive max-auto" name="filterBurial">Filter</button>
                <button type="button" class="btn btn-sm" style="float:right;" onclick="ExpandFilter()">More</button>
                <button type="button" class="btn btn-sm" style="float:right;" onclick="ShrinkFilter()">Less</button>
            </div>
        </form>
        
    </div>

    <div class="d-flex align-items-center justify-content-end w-100">
        <div page-info="@Model.PageNumInfo" page-classes-enabled="true" page-class="btn"
             page-class-normal="btn-outline-light btn-pag-artichoke" page-class-selected="btn-blackolive" class="btn-group btn-pagination m-1">

        </div>
    </div>
    <div class="card-holder">
        @foreach (Burial burial in Model.Burials)
        {
            <div class="card card-burial m-1 p-3 card-bkg hover-pointer" onclick="ViewRecord('@Url.Action("ViewRecord", "Burial", new {burialID = burial.BurialId })');">
                <img class="card-img-top" src="~/mummy.jpg" />
                <div class="card-body card-text-bkg mt-2">
                    <p class="card-text text-white">
                        Burial Number: @burial.BurialNumber<br />
                        Burial ID: @burial.BurialId<br />
                        Age: @burial.AgeCode<br />
                        Gender: @burial.GenderGe<br />
                    </p>
                    @if (ViewBag.Admin != null)
                    {
                        @Html.ActionLink("Remove", "DeleteRecord", "Burial", new { burialID = burial.BurialId }, new { @class = "btn btn-brassdark float-right mr-1 ml-1", @onclick = "var result = confirm('Are you sure you want to delete this record?'); if(!result){event.stopPropagation(); return false;}" })
                    }
                    @if (ViewBag.Admin != null || ViewBag.Researcher != null)
                    {
                        @Html.ActionLink("Edit", "EditRecord", "Burial", new { burialID = burial.BurialId }, new { @class = "btn btn-brassdark float-right mr-1 ml-1" })
                    }
                </div>
            </div>
        }
    </div>
</div>

<div class="d-flex align-items-center justify-content-end w-100">
    <div page-info="@Model.PageNumInfo" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-light btn-pag-artichoke" page-class-selected="btn-blackolive" class="btn-group m-1">

    </div>
</div>