<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EgyptExcavationProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Sen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/burial_records.css" rel="stylesheet" />
    <link href="~/css/admin.css" rel="stylesheet" />
    <link href="~/css/add_record.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar-buffalo border-bottom box-shadow mb-3">@*navbar navbar-expand-sm*@
            <div class="container nav-container justify-content-between">
                <a class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="navbar-logo-main">BYU Egypt Excavation Project</span>
                    <span class="navbar-logo-subitem">Fag el-Gamous Cemetery Database</span>
                </a>
                <div class="navbar-navitems">
                    <ul class="navbar-navlist">
                        <partial name="_LoginPartial" />
                    </ul>
                    <br />
                    @*<partial name="_LoginPartial" />*@ @*ASP.NET built in partial view for login/authentication*@
                    <ul class="navbar-navlist mt-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Burial" asp-action="BurialRecords">Burial Records</a>
                        </li>
                        @if (User.IsInRole("Researcher") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <input type="hidden" value="Researcher: @User.IsInRole("Researcher")" />
                                <a class="nav-link" asp-area="" asp-controller="Burial" asp-action="AddRecord">Add Burial Record</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <input type="hidden" value="Admin: @User.IsInRole("Admin")" />
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ManageUsers">Admin Tools</a>
                            </li>
                        }
                        @*@if (!User.IsInRole("Researcher") && !User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                        }*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2021 - BYU Egypt Excavation Project
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
