@{
    ViewData["Title"] = "Manage Users";
}

@model IQueryable<IdentityUser>

<div>
    @foreach (var user in Model)
    {
        <p>@user.Email</p>
    }
</div>
<div>
    <h2>User Management System:</h2>
    <br />
    <table class="table table-bordered table-striped table-scroll">
        <thead class="buffalo-table-header">
            <tr>
                <th>Name:</th>
                <th>Email:</th>
                <th>Phone Number:</th>
                <th>Account Creation Date:</th>
                <th>Needs Approval?</th>
                <th>Approve:</th>
                <th>View Details:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>@user.PhoneNumber</td>
                <td>Yes</td>
                <td><button class="btn btn-brassdark">Approve</button></td>
                <td>@Html.ActionLink("Details ->", "ViewUser", "Home", new { userID = user.Id }, new { @class = "btn btn-blackolive" })</td>
            </tr>
            }
        </tbody>
    </table>
</div>