@{
    ViewData["Title"] = "Manage Users";
}
@inject UserManager<ApplicationUser> _userManager

@model IQueryable<ApplicationUser>

<div>
    <h2>User Management System:</h2>
    <br />
    <table class="table table-bordered table-striped table-scroll">
        <thead class="buffalo-table-header">
            <tr>
                <th>Name:</th>
                <th>Email:</th>
                <th>NetID:</th>
                <th>Account Creation Date:</th>
                <th>Current Roles:</th>
                <th>Approve:</th>
                <th>Revoke:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                var rolesList = await _userManager.GetRolesAsync(user);
                string rolesDisplay = "";
                if(rolesList.Count != 0)
                {
                    foreach(var role in rolesList)
                    {
                        rolesDisplay += role + ", ";
                    }
                    rolesDisplay = rolesDisplay.Substring(0, rolesDisplay.Length - 2);
                }
                else
                {
                    rolesDisplay = "None.";
                }
                if (rolesList.Contains("Researcher"))
                {

                }    
            <tr>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.NetId</td>
                <td>@user.CreationDateTime</td>
                <td>@rolesDisplay</td>
                <td>
                @if (rolesList.Contains("Pending"))
                {
                    @Html.ActionLink("Approve", "ApproveResearcher", "Home", new {userId = user.Id}, new {@class="btn btn-blackolive" })
                }
                else
                {
                    <span>No Approval Needed</span>
                }
                </td>
                <td>
                @if (rolesList.Contains("Researcher"))
                {
                    @Html.ActionLink("Revoke", "RevokeResearcherPermissions", "Home", new { userId = user.Id }, new { @class = "btn btn-blackolive" })
                }
                else
                {
                    <span>No Permissions to Revoke</span>
                }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>